.container {
  display: flex;
  justify-content: space-between;
}

.container__primary {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  margin-top: 30px;
}

@media (max-width: 576px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .container__primary {
    width: 60%;
    margin-top: 20px;
  }
  .container__secondary {
    width: 50%;
  }
}
